$distance: 160px;
.contact {
  position: relative;
  margin-top: -$distance;
  padding-bottom: 180px; 
  background-color: $alabaster;
  &__container {

  }
  &__canvas {
    height: 900px;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
  }
  &__headline {
    position: absolute;
    top: $distance;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__form {
    position: absolute;
    top: $distance + 110px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}