.footer {
  padding: 80px 0;
  @include max-width(980px) {
    padding: 50px 0;
    background-color: $mercury;
  }
  &__container {
    display: flex;
    justify-content: space-between;    
    @include max-width(980px) {
      flex-direction: column;
    }

  }   
  &__col {
    &:nth-child(1) {
      flex: 0 1 400px;
      @include max-width(980px) {
        margin-bottom: 30px;
      }
    }
    &:nth-child(2),
    &:nth-child(3) {
      flex: 0 1 160px;
    }
    &:nth-child(4) {
      flex: 0 1 auto;
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      @include max-width(980px) {
        flex: 0 1 100%;
      }
    }
    & + .footer__col {
      @include max-width(980px) {
        margin-top: 10px;
      }
    }
    
  }
  &__logo {
    margin-bottom: 30px;
    @include max-width(980px) {
      margin-bottom: 10px;
    }
  }
  &__text {
    margin-bottom: 20px;
  }
  &__link {
    font-size: 12px;
    margin-bottom: 12px;
    @include max-width(425px) {
      display: block;
    }
    & + .footer__link {
      margin-left: 30px;
      @include max-width(425px) {
       margin-left: 0;
      }
    }
  }
  &__title {
    margin-bottom: 20px;
  }
  &__socials {
    .icon-google-plus {
      font-size: 20px;
    }
  }
  &__copyrighting {
    @include max-width(980px) {
      display: block;
    }
  }
}