.services {
  padding: 100px 0 15px;
  &__container {
    display: flex;
  }
  &__images {
    flex: 1 1 auto;
    margin-left: -35%;
    height: 600px;
  }
  &__content {
    flex: 1 3 auto;
    transform: translateX(-20px);
  }
  
  &__title {
    margin: 40px 0 10px;
  }
  &__text {
    margin-bottom: 100px;
  }
}