.button {
  padding: 12px 30px;
  color: $fruit-salad;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0px 0px 12px 0px rgba(108, 108, 108, 0.23);
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
}

