.customers-list {
  display: flex;
  align-items: center;
  @include max-width(1030px) {
    flex-wrap: wrap;
  }
  &__item {
    flex: 0 1 25%;
    
    img {
      object-fit: scale-down;
    }

    @include max-width(1030px) {
      flex: 0 1 40%;
    }
    @include max-width(800px) {
      flex: 0 1 calc(25% - 13px);
      // height: 100%;
      img {
        object-fit: contain;
      }
    }

    
    & + .customers-list__item {
      margin-left: 50px;
      @include max-width(1030px) {
        margin-left: 0;
      }
      @include max-width(800px) {
        margin-left: 10px;
      }
    }
    
    &:nth-child(even) {
      @include max-width(1030px) {
        margin-left: 20px;
      }
      // @include max-width(800px) {
        // margin-left: 0;
      // }
    }
    
  }
  &__images {
    width: 100%;
  }
}
