@include icomoon('../fonts','d56nme');

.icon-check-square:before {
  content: "\e905";
}
.icon-lightbulb-o:before {
  content: "\e900";
}
.icon-bicycle:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-social:before {
  content: "\e902";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter1:before {
  content: "\ea96";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-basketball:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}