*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: $main-fz;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: $main-font;
	color: $main-color;
	font-weight: 400;
}
// start reset CSS
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

p {
	line-height: 24px;
}

input,
button,
textarea,
select {
	border: none;
}

button {
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

textarea {
	resize: none;
}
ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

img {
	display: block;
}


// end reset CSS

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow-x: hidden;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container {
	max-width: $main-width;
	padding: 0 15px;
	margin: 0 auto;
}

.images-wrapper {
	img {
		width: 100%;
		height: 100%;
	}
}

.main-skew {
	clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
}
section {
	border-bottom: 1px solid $gallery;
}


